.google-font {
  font-family: "Abril Fatface", serif;
  font-style: normal;
}
.logo{
  font-size: 25px;
  margin-left: 30px;
  font-weight: 100;
}
.banner-bg{
  background: url(./assets/Frame5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
}
.tagline{
  color: rgb(160, 66, 179);
  font-weight: 100;
  line-height: 1;
}
.banner-img{
  height: 500px;
  width: 500px;
}
.bg-gradient{
    background: linear-gradient(to right, #3C2A75, black );
}
